" .ideavimrc is a configuration file for IdeaVim plugin. It uses

"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.

set scrolloff=5
"Clipboard copying and pasting"
set clipboard+=unnamed

"Turns off anoying system sounds on windws"

set visualbell
set noerrorbells

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
" Highlight copied text

Plug 'machakann/vim-highlightedyank'

" Commentary plugin
Plug 'tpope/vim-commentary'
Plug 'easymotion/vim-easymotion'
Plug 'preservim/nerdtree'

"" NERDTreeNavigation
"" Commands:
""  Ctrl-n  Opens NERDTree window
""  q       Close the NERDTree window
""  o       Open files, directories and bookmarks
""  go      Open selected file, but leave cursor in NERDTree
""  <C-J>
""  <C-K>
""  R       Refresh directories
""  m       Show nerdtree menu

set NERDTree

let g:NERDTreeMapQuit = 'Ctrl-e'
let g:NERDTreeMapActivateNode = ' '
":NERDTreeFocus
":NERDTreeToggle
":NERDTreeClose
":NERDTreeFind


set number relativenumber
set ideajoin
set easymotion
set surround

"" Leader key
let mapleader = " "

"" Navigation
nmap <S-h> :action PreviousTab<CR>
nmap <S-l> :action NextTab<CR>

nmap <c-n> :NERDTree<CR>
nmap <C-e> :NERDTreeFocus<CR>

nmap <Leader>n :NERDTreeFocus<CR>
nmap <Leader> :NERDTreeMapActivateNode<CR>
nmap <Leader>v :action SplitVertically<CR>
nmap <Leader>s :action SplitHorizontally<CR>
nnoremap <Leader>q :action CloseContent<CR>
nmap <c-m> :action MoveEditorToOppositeTabGroup<CR>

sethandler <c-j> a:vim
sethandler <c-k> a:vim


"" Move between tabs
nmap <Leader>h <c-w>h
nmap <Leader>l <c-w>l
nmap <Leader>j <c-w>j
nmap <Leader>k <c-w>k

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)